name: Tests

on: [push]

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        django-version: ["2.2", "3.2", "4.0"]
        exclude:
          - django-version: 4.0
            python-version: 3.7
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install with django ${{ matrix.django-version }}
      run: |
        pip install django==${{ matrix.django-version }}
        pip install .
    - name: Test
      run: |
        python test_project/manage.py test
