{% extends "base.html" %}

{% block content %}

<h1>Change password</h1><hr>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Old password<br>
        {{form.old_password(class="form-control")}}<br>
        {% for error in form.old_password.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        New password<br>
        {{form.password(class="form-control")}}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        Confirm password<br>
        {{form.password2(class="form-control")}}<br>
        {% for error in form.password2.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input class="btn btn-default" type="submit" value="确认修改"></p>
</form>
{% endblock %}